<div class="form-group">
    <label for="title">Nom</label>
    <textarea required name="nomF" id="nomF" class="form-control"><%= articleFourn.nomF %></textarea>
</div>
<div class="form-group">  
    <label for="title">Prénom</label>
    <textarea required name="prénom" id="prénom" class="form-control"><%= articleFourn.prénom %></textarea>
</div>
<div class="form-group">
    <label for="title">Adresse</label>
    <textarea required name="adresse" id="adresse" class="form-control"><%= articleFourn.adresse %></textarea>
</div>
<div class="form-group">
    <label for="title">Companie où il travaille</label>
    <textarea required name="companie" id="companie" class="form-control"><%= articleFourn.companie %></textarea>
</div>
<div class="form-group">
    <label for="title">Email</label>
    <textarea required name="émail" id="émail" class="form-control"><%= articleFourn.émail %></textarea>
</div>
<div class="form-group">
    <label for="title">Numéro de téléphone</label>
    <textarea required name="numéro" id="numéro" class="form-control"><%= articleFourn.numéro %></textarea>
</div>



<button type="submit" class="btn btn-primary">Enregistrer</button>
<a href='/liste6' class="btn btn-secondary">annuler</a>