
<!DOCTYPE html>
<html class=''>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/luclucena/pen/jbzeZm?depth=everything&order=popularity&page=21&q=services&show_forks=false" />

<link rel='stylesheet prefetch' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<style class="cp-pen-styles">.morris-hover {
  position:absolute;
  z-index:1000;
}

.morris-hover.morris-default-style {     border-radius:10px;
  padding:6px;
  color:#666;
  background:rgba(255, 255, 255, 0.8);
  border:solid 2px rgba(230, 230, 230, 0.8);
  font-family:sans-serif;
  font-size:12px;
  text-align:center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight:bold;
  margin:0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space:nowrap;
  margin:0.1em 0;
}

svg { width: 100%; }</style></head>
<body> 
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
     integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
     crossorigin="anonymous">
<link rel="stylesheet" href="https://www.cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<meta charset=utf-8 />
<title>Morris.js Responsive Charts Example + Bootstrap</title>
</head>
<body  style="padding-top: 100px; padding-bottom : 100px;">
  
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 fixed-top">
        <img width="150px" height="60px"src="https://i.ibb.co/0Ds5zSb/logosfrontt-2.png" style="position:relative;top:+5px">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-4" style="float: right" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
        <h2 class="text-white" style="float: right">Dashboard de l'application Web</h2>
           </li>
           </ul>
        </div>
        <div class="collapse navbar-collapse ml-4" style="float: right" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/Page">Page d'acceuil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Enregistrement</a>
            </li>
            
            
            <li class="nav-item">
              <a class="nav-link disabled" href="#">A propos de l'application Web</a>
            </li>
          </ul>
          
        </div>
      </nav>  
      
        <section class="container-fluid">
    <div class="row">
      <div class="col-md-4 mb-2">
        <h2 class="text-center text-info">Pourcentage commandes / Conformité livraison</h2>
        <div id="bar-chart"></div>
      </div>
      
      <div class="col-md-8 mb-2">
        <h2 class="text-center text-info">Retours approuvés / Retours non approuvé</h2>
        <div id="line-chart"></div>
      </div>
      
      <div class="col-md-8">
        <h2 class="text-center text-info">Stock annuel actif / Stock annuel minimal</h2>
        <div id="area-chart"></div>
      </div>
      
      <div class="col-md-4">
        <h2 class="text-center text-info">Quantité de médicaments selon catégories</h2>
        <div id="donut-chart"></div>
      </div>
      <div class="col-md-8">
  
        <div id="pie-chart"></div>
      </div>
    </div>
  </section>
</div>
</body>
</html>

<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
     integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
     crossorigin="anonymous">
<script >$(document).ready(function() {
  barChart();
  lineChart();
  areaChart();
  donutChart();

  $(window).resize(function() {
    window.barChart.redraw();
    window.lineChart.redraw();
    window.areaChart.redraw();
    window.donutChart.redraw();
  });
});

function barChart() {
  window.barChart = Morris.Bar({
    element: 'bar-chart',
    data: [
      { y: '2014', a: 100, b: 90 },
      { y: '2015', a: 65,  b: 45 },
      { y: '2016', a: 50,  b: 45 },
      { y: '2017', a: 70,  b: 60 },
      { y: '2018', a: 40,  b: 40 },
      { y: '2019', a: 75,  b: 65 },
      { y: '2020', a: 100, b: 90 }
    ],
    xkey: 'y',
    ykeys: ['a', 'b'],
    labels: ['Succès commande %', 'Succès livraison %'],
    lineColors: ['#1e88e5','#ff3321'],
    lineWidth: '3px',
    resize: true,
    redraw: true
  });
}

function lineChart() {
  window.lineChart = Morris.Line({
    element: 'line-chart',
    data: [
      { y: '2014', a: 90, b: 10 },
      { y: '2015', a: 92,  b: 8 },
      { y: '2016', a: 84,  b: 16 },
      { y: '2017', a: 80,  b: 20 },
      { y: '2018', a: 85,  b: 15 },
      { y: '2019', a: 75,  b: 25 },
      { y: '2020', a: 70, b: 30 }
    ],
    xkey: 'y',
    ykeys: ['a', 'b'],
    labels: ['Retours approuvées %', 'Retours non approuvés %'],
    lineColors: ['#1e88e5','#ff3321'],
    lineWidth: '3px',
    resize: true,
    redraw: true
  });
}

function areaChart() {
  window.areaChart = Morris.Area({
    element: 'area-chart',
    data: [
      { y: '2014', a: 100, b: 90 },
      { y: '2015', a: 75,  b: 65 },
      { y: '2016', a: 50,  b: 40 },
      { y: '2017', a: 75,  b: 65 },
      { y: '2018', a: 50,  b: 40 },
      { y: '2019', a: 75,  b: 65 },
      { y: '2020', a: 100, b: 90 }
    ],
    xkey: 'y',
    ykeys: ['a', 'b'],
    labels: ['Stock minimale', 'Stock acutel'],
    lineColors: ['#ff3321','#1e88e5'],
    lineWidth: '3px',
    resize: true,
    redraw: true
  });
}

function donutChart() {
  window.donutChart = Morris.Donut({
  element: 'donut-chart', 
  data: [
        {label: " Parcétamol en Stock", value: <%= cat1 %>},
        {label: " Anti-inflammatoires en Stock", value: <%= cat2 %>},
        {label: "	Neurologie en Stock", value: <%= cat3 %>},
        {label: "Rhumatologie en Stock", value: <%= cat4 %>},
        {label: "Antibiotiques en Stock", value: <%= cat5 %>},
        {label: "Anesthésiques en Stock", value: <%= cat6 %>}
      ],
  resize: true,
  redraw: true
});
}

function pieChart() {
  var paper = Raphael("pie-chart");
paper.piechart(
  100, // pie center x coordinate
  100, // pie center y coordinate
  90,  // pie radius
   [18.373, 18.686, 2.867, 23.991, 9.592, 0.213], // values
   {
   legend: ["Windows/Windows Live", "Server/Tools", "Online Services", "Business", "Entertainment/Devices", "Unallocated/Other"]
   }
 );
}
//# sourceURL=pen.js
</script>

</body>
</html>