<div class="form-group">
    <label for="title">Code du produit</label>
    <textarea required name="codeP" id="codeP" class="form-control"><%= articleLT.codeP %></textarea>
</div>
<div class="form-group">
    <label for="title">Nom</label>
    <textarea required name="nom" id="nom" class="form-control"><%= articleLT.nom %></textarea>
</div>
<div class="form-group">
    <label for="title">Catégorie</label>
    <textarea required name="categorie" id="categorie" class="form-control"><%= articleLT.categorie %></textarea>
</div>
<div class="form-group">
    <label for="title">Mode d'administration</label>
    <textarea required name="modeA" id="modeA" class="form-control"><%= articleLT.modeA %></textarea>
</div>
<div class="form-group">
    <label for="title">Posologie</label>
    <textarea required name="Posologie" id="Posologie" class="form-control"><%= articleLT.Posologie %></textarea>
</div>
<div class="form-group">
    <label for="title">Nombre de sachets ou de comprimés par boîte</label>
    <textarea required name="NombreB" id="NombreB" class="form-control"><%= articleLT.NombreB %></textarea>
</div>
<div class="form-group">
    <label for="title">Fréquence maximale</label>
    <textarea required name="FreqM" id="FreqM" class="form-control"><%= articleLT.FreqM %></textarea>
</div>
<div class="form-group">
    <label for="title">Contre-Indications</label>
    <textarea required name="contreI" id="contreI" class="form-control"><%= articleLT.contreI %></textarea>
</div>
<div class="form-group">
    <label for="title">Dose Maximale</label>
    <textarea required name="DoseM" id="DoseM" class="form-control"><%= articleLT.DoseM %></textarea>
</div>
<button type="submit" class="btn btn-primary">Enregistrer</button>
<a href='/liste4' class="btn btn-secondary">annuler</a>