<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
     integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
     crossorigin="anonymous">
    <title>Pharmacie</title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">DAWA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/Page">Page d'acceuil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link disabled" href="#">A propos de l'application Web</a>
          </li>
        </ul>
      </div>
    </nav>
     <h1 class="mb-4">Unité de soin concernée: <%= articleRet.unitéSoin %></h1> 

      <div class="mb-4 text-success"> 
        Médicament retourné: <%= articleRet.med %>
      </div>
      <div class="mb-4">
        Quantité: <%= articleRet.quantité %>
      </div>
      <div class="mb-4">
        Motif: <%= articleRet.motif %>
      </div>
      <div class="mb-4">
        Validation: <%= articleRet.validation %>
      </div>
      <div class="mb-4">
        Commentaire: <%= articleRet.commentaire %>
      </div>    
    
      
      <div class="text-muted mb-4">
        Date d'entrée dans le système': <%= articleRet.createdAt.toLocaleDateString() %>
      </div>

      <a href="/liste7" class="btn btn-secondary">
        Tous les retours
      </a>
      <a href="/articlesRet/edit/<%= articleRet.id %>" class="btn btn-info">
        modifier
      </a>
  </div>
</body>
</html>